body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #010417;
    z-index: 1;
}
header h2 a{
    text-decoration: none;
    color: white;
}
.banner {
    position: relative;
    top: 4px;
}
.banner img {
    width: 100%;
    left: 0;
    position: relative;
}
.banner h2 {
    position: absolute;
    top: 30%;
    color: white;
    padding: 30px;
    font-size: 48px;
}
.banner h2 span {
    font-size: 1.4em;
}
.nav {
    background-color: #dbd9d9;
    position: sticky;
    top: 65px;
    padding: 7px;
    max-width: 100%;
    white-space: nowrap;
    font-size: 1.3em;
    color: #009dff;
    text-align: center;
    z-index: 1;
}
.nav ul {
    padding-left: 0%;
    margin: 15px;
}
.nav li {
    display: inline-block;
    width: 20%
}
.nav li a {
    text-decoration: none;
    color: #47474789;
}
.main {
    padding: 0 50px;
}
.main h2 {
    line-height: 1.6em;
}
.main h2 span {
    font-size: 1.7em;
}
.main p {
    line-height: 1.3em;
    text-align: justify;
}
.photos {
    white-space: nowrap;
    text-align: center;
}
.photos ul {
    padding-right: 40px;
}
.photos li {
    display: inline-block;
    width: 45%;
}
.photos img {
    transition: transform 0.2s;
    width: 90%;
}
.contact {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
.contact input {
    font-size: 16px;
    padding: 12px;
    border: 2px solid grey;
    border-radius: 30px;
}
footer {
    text-align: center;
    font-size: 0.8em;
    background: #010417;
    color: white;
    padding: 3px;
    max-width: 100%;
}
/* Pseudoclasses */
.nav a:hover {
    color: black;
}
.photos img:hover {
    transform: scale(1.07);
}
/* Responsive design */
@media screen and (max-width: 1000px) {
    .banner h2 {
        font-size: 36px;
    }
}