/* INITIALIZATIONS */

* {
    font-family: 'Poppins';
    color: white;
}
a {
    text-decoration: none;
}

/* BASIC STRUCTURE */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gradient background */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);    alternate gradient */
    background: linear-gradient(-45deg, #be1a95, #4d1d90, #10106e, #06063c);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: auto;
}
.card {
    background-color: transparent;
    border-radius: 5px;
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* CARD INTERNALS */

.header {
    font-size: 2rem;
}
.selection p {
    font-size: 1.5rem;
    /* margin: 0; */
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
li {
    margin: 25px;
    font-size: 0.75rem;
}
i {
    font-size: 3rem;
}

/* HOVER STATES */

i:hover {
    transform: scale(1.2);
    transition-duration: 0.25s;
}
i:not(:hover) {     /* this ensures smooth transform animation when mouse pointer leaves the hover state */
    transform: scale(1);
    transition-duration: 0.40s;
}

/* BACKGROUND ANIMATION */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}